body {
    background-color: green;
    border: 10px solid black;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.div1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.div2 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: blue;
}
